@media screen and (max-width: 1450px) {
  .grid-4-column {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
}

@media screen and (max-width: 760px) {
  .grid-4-column {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}

@media screen and (max-width: 505px) {
  .grid-4-column {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
