.sidebar {
  position: sticky;
}
.sidebar__links {
  list-style: none;
  margin-top: 1rem;
  padding: 1rem;
}
.sidebar__link_item {
  display: block;
  color: inherit;
  font-size: 1.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
}
.sidebar__icon {
  margin-right: 1rem;
}

.active__link {
  background-color: var(--color-grey-light-4);
}
.sidebar__link_item:hover {
  background-color: var(--color-grey-light-3);
}
@media screen and (max-width: 1070px) {
  .sidebar {
    display: none;
  }
}
