.featured-title {
  text-align: center;
  margin: 3rem 0rem;
}
.featured-list {
  justify-items: center;
}
.grid-4-column{
  justify-items: center;
}
a {
  text-decoration: none;
}
.overlay-text {
  background-color: transparent;
  color: var(--color-primary);
}
.card-vertical:hover {
  box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 20%);
  transform: scale(1);
  transition: 0.4s all;
}
.category-image {
  height: 20rem;
  width: 20rem;
}
