.App{
    min-height: calc(100vh - 5rem);
    background-color: var(--color-grey-light-1);
}
.spacer-1rem {
    width: 100%;
    height: 1rem;
}
.spacer-2rem {
    width: 100%;
    height: 2rem;
}
.spacer-3rem {
    width: 100%;
    height: 3rem;
}